body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aqua;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h3{
  font-style: italic;
  font-kerning: initial;
}
button{
  box-sizing: border-box;
  color:white;
  background-color: royalblue;
}
query{
  color: blueviolet;
}